.container-posts {
    padding: 5px;
}

.container-posts-header{
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.container-posts-header .title{
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
    margin-right: 10px;
}


.container-posts .list .date{
    display: inline-block;
    background: #2f8a91;
    padding: 5px;
    color: #fff;
    margin-right: 6px;
    width: 64px;
    text-align: center;
}

.container-posts .list .vote  {
    display: inline-block;
    margin-right: 10px;
}

.container-posts .list .vote .fa {
    color: gold;
}

.container-posts .list li{
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.container-posts .list li:not(:last-child){
    border-bottom: 1px solid #ccc;
}



.container-posts-order{
    padding: 3px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.container-posts-order .title{
    font-size: 12px;
    margin-right: 9px;
}

.container-posts-order .options .icons {
    display: inline-block;
    cursor: pointer;
    margin-right: 7px;
}

.container-posts-order .options .fa:hover{
    color: #666;
}