.container-posts {
    padding: 5px;
}

.container-posts-header{
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    margin-bottom: 5px;
    padding: 5px;
}

.container-posts-header .title{
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
}

.container-posts .list .date{
    background: #2f8a91;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin-right: 6px;
    padding: 5px;
    text-align: center;
    width: 64px;
}

.container-posts .list .data-info  {
    display: inline-block;
    margin-right: 20px;
}


.container-posts .list li{
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.container-posts .list li a{
    align-items: center;
    display: flex;
}

.container-posts .list .data-info .fa{
    margin-right: 5px;
}

.container-posts .list .star {
    color: gold;
}

.container-posts .list .vote{
    margin: 0 !important;
    font-size: 12px;
}

.container-posts .list .vote:hover{
    color: #ccc;
}

.container-posts .list li:not(:last-child){
    border-bottom: 1px solid #ccc;
}

.container-posts-order{
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    padding: 3px;
}

.container-posts-order .title{
    font-size: 12px;
    margin-right: 9px;
}

.container-posts-order .options .icons {
    cursor: pointer;
    display: inline-block;
    margin-right: 7px;
}

.container-posts-order .options .fa:hover{
    color: #666;
}