.container-detail-post{
    padding-top: 15px;
}

.container-detail-post .list li{
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.container-detail-post .list li:not(:last-child){
    border-bottom: 1px solid #ccc;
}