.container-main-loading{
    align-items: center;
    background: rgb(139, 147, 235);
    bottom: 0;
    color: #fff;
    display: flex;
    font-size: 42px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.container .main-content{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding-top: 42px;
    display: flex;
}

.container .container-posts{
    flex-grow: 1;
}

.container .container-categories{
    width: 250px;
}