.container-new-post .field{
    padding: 3px;
    display: block;
}

.container-new-post .inline{
    width: 90px;
    display: inline-block;
}

.container-new-post .block{
    display: block;
}

.container-new-post textarea{
    display: block;
    width: 100%;
    resize: none;
    height: 200px;
}

.container-new-post .input-title{
    width: 100%;
}