.container-edit-item .field{
    padding: 3px;
    display: block;
}

.container-edit-item .inline{
    width: 90px;
    display: inline-block;
}

.container-edit-item .block{
    display: block;
}

.container-edit-item .categories{
    padding: 7px;
}

.container-edit-item textarea{
    display: block;
    width: 100%;
    resize: none;
    height: 200px;
}

.container-edit-item .input-title{
    width: 100%;
}