.main-header {
    background: #507299;
    left: 0;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.main-header .content{
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}

.main-header .title {
    color: #fff;
    font-size: 19px;
}

.main-header .menu {
    margin-left: 30px;
}

.main-header .item-menu{
    color: #fff;
    cursor: pointer;
    display: block;
    height: 100%;
    position: relative;
}

.main-header .sub-menu{
    background: rgb(66, 95, 128);
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity .5s;
    top: 100%;
}

.main-header .sub-menu li a {
    display: block;
    padding: 7px 12px;
}

.main-header .sub-menu li:hover, .main-header .sub-menu a.selected {
    background: rgba(255,255,255, .5);
}

.main-header .item-menu:hover .sub-menu{
    opacity: 1;
    pointer-events: all;
}